body {
    background-image: url("https://cdn.midjourney.com/9fa1fb21-a1bc-4269-8f79-43a32016e409/0_0.webp");
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

h1 {
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
}

.biglist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin: 20px;
}

.mainList {
    color: rgba(0, 0, 112);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 200 px;
    padding: 5px;
    margin: 20px;
}

.objects {
    color: rgb(37, 11, 73);
}